MONGODB_URI=mongodb+srv://verceluser:Rocky101@cluster0.amyt1wr.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=yoEPQfVN9qQGubqn
NEXT_PUBLIC_AI_API_KEY=AIzaSyC8R9LTOv9FLjpD00_NESC_nvXgq1-XuXE